* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  
  }



body {

    font-family: 'Noto Sans', sans-serif;
    background: #f6f6f6 !important;

}

a {

    color: #000;

}

body.dark {

    background-color: #000 !important;
    color: #fff;

}


body.dark #content {

    background: #202020;

}

body.dark a {

    color: #fff;

}

body.dark #content .itemWrapper ul li {
   
    background: #333333;
    
}

body.dark #content .inputWrapper input[type="text"] {

    border: 2px solid #707070;
    background: #333333;
    
}

body.dark #content .itemWrapper {

    border-bottom: 2px solid #383838;

}



@media (prefers-color-scheme: light) {
    body {
       background-color: #fff;
   }
}

@media (prefers-color-scheme: dark) {
    body {
       background-color: #000;
   }
}


h1 {

    display: block;
    text-align: center;
    margin-top: 40px !important;

}

#settings {

    position: absolute;
    top: 20px;
    left: 20px;

}

#settings img {

    width: 40px;
    height: 40px;

}

.modal {

    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    max-width: 80%;
    min-height: 300px;
    height: auto;
    margin: auto;
    background: #fff;
    -webkit-box-shadow: 0px 7px 42px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 7px 42px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.07);
    border-radius: 5px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;

}

.modal.opened {

    visibility: visible;
    opacity: 1;

}

.close {

    width: 30px;
    height: 30px;
    display: block;
    float: right;

}

#content {

    display: block;
    text-align: center;
    margin: 50px auto;
    width: 70%;
    max-width: 700px;
    background: #fff; 
    border-radius: 4px;

    /*-webkit-box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.12); */

    padding: 30px 0;
    border: 5px;

}

#content .resetButton {

    padding: 8px 20px;
    background: #e62525;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

}

#content .resetButton:hover {

    background: #d42020;

}

#content .resetButton:before {

    content: "";
    background: url(/img/trash-white.svg);
    height: 20px;
    width: 20px;
    margin: 0 5px -4px 0;
    background-size: cover;
    display: inline-block;

}

#content .inputWrapper {

    overflow: auto;
    margin: 8px;

}

#content .inputWrapper input[type="text"] {

    width: 70%;
    float: left;
    border: 2px solid #e4e4e4;
    padding: 8px 7px;
    font-size: 17px;
    border-radius: 5px;

}

#content .inputWrapper input[type="button"] {

    min-width: 20%;
    float: right;
    padding: 8px 10px;
    background: #305dff;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

}

#content .inputWrapper input[type="button"]:hover {

    background: #284fda;

}

#content .itemWrapper {

    text-align: left;
    margin-top: 20px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #f2f2f2;

}

#content .itemWrapper ul {

    padding: 0;

}

#content .itemWrapper ul li {

    list-style: none;
    margin: 8px;
    font-size: 17px;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;

}

.sortable-ghost {

    background: rgb(199, 199, 199) !important;

} 

footer {

    text-align: center;

}

/* USER INFORMATION */

.userInformation {

    position: absolute;
    top: 0;
    right: 0;

}

.userInformation .profilePictureWrapper {

    height: 80px;
    width: 80px;
    display: block;
    overflow: hidden;
    border-radius: 50%;

}

.userInformation img {

    max-width: 100px;

}