* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  
  }



body {

    font-family: 'Noto Sans', sans-serif;
    background: #f2f9ff !important;
    background: #fff !important;
    /* background: #fff1ea !important;*/
    transition: all 0.3s ease;

}

a {

    color: #000;

}

body.blueTheme {

    background: #f2f9ff !important;

}

body.greenTheme {

    background: #f2fff4 !important;

}

body.pinkTheme {

    background: #fff2f5 !important;

}

body.dark {

    background-color: #000 !important;
    color: #fff;

}


body.dark #content {

    background: #202020;

}

body.dark a {

    color: #fff;

}

body.dark #content .itemWrapper ul li {
   
    background: #333333;
    
}

body.dark #content .inputWrapper input[type="text"] {

    border: 2px solid #707070;
    background: #333333;
    transition: all 0.2s ease;

}

body.dark #content .inputWrapper input[type="text"]:focus {

    border: 2px solid #ffffff;
    outline: none;

}

body.dark #content .itemWrapper {

    border-bottom: 2px solid #383838;

}

#settings {

    background: url(../img/new/settings2.svg);
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: all 16s linear;

}

#settings:hover {

    transform: rotate(360deg);

}

body.dark #settings {

    background: url(../img/settings-light.svg);
    
}

@media (prefers-color-scheme: light) {
    body {
       background-color: #fff;
   }
}

@media (prefers-color-scheme: dark) {
    body {
       background-color: #000;
   }
}


h1 {

    display: block;
    text-align: center;
    margin-top: 40px !important;

}

.logo {

    display: block;
    max-width: 260px;
    margin: 25px auto;


}

#settings {

    position: absolute;
    top: 20px;
    left: 20px;

}

#settings img {

    width: 40px;
    height: 40px;

}

.modal {

    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    max-width: 80%;
    min-height: 300px;
    height: auto;
    margin: auto;
    background: #fff;
    -webkit-box-shadow: 0px 7px 42px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 7px 42px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.07);
    border-radius: 5px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    transition: all 0.3s ease;

}

body.dark .modal {

    background: #202020;

}

.modal.opened {

    visibility: visible;
    opacity: 1;

}

.modal h2 {

    display: inline-block;

}

.modal .colorPicker {

    overflow: auto;

}

.modal .color {

    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%;
    background: rosybrown;
    margin: 0 7px 0 0;
    float: left;
    border: 2px solid #f2f2f2;
    cursor: pointer;

}

.modal .color.blue {

    background: #364684;

}

.modal .color.green {

    background: #265f2b;

}

.modal .color.pink {

    background: #65293e;

}

.startModal .close {

    display: none;

}

.startModal .close.startModalClose {

    display: block;

}

.startModal .feature {

    width: 50%;
    float: left;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;

}

.startModal .feature img {

    display: block;
    margin: 0 auto;
    max-width: 140px;

}

.modal.deleteModal {

   min-height: 0;

}

.modal.deleteModal .content {

    display: block;
    margin-top: 30px;
    overflow: auto;

}

.deleteModal .yesBtn {

    background: #e62525;
    color: #fff;
    padding: 6px 20px;
    border-radius: 3px;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease;

}

.deleteModal .yesBtn:hover {

    background: #d42020;

}

.close {

    margin-block-start: 0.83em;
    width: 30px;
    height: 30px;
    display: block;
    float: right;
    background: url(../img/new/close2.svg);
    cursor: pointer;

}

.dark .close {

    background: url(../img/close-light.svg);

}

#content {

    display: block;
    text-align: center;
    margin: 100px auto;
    width: 70%;
    max-width: 700px;
    background: #fff; 
    border-radius: 4px;
 
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.07);
    padding: 0 1px 30px 1px;
    border: 5px;

}

#content .resetButton {

    padding: 8px 20px;
    background: #e62525;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

}

#content .resetButton:hover {

    background: #d42020;

}

#content .resetButton:before {

    content: "";
    background: url(../img/trash-white.svg);
    height: 20px;
    width: 20px;
    margin: 0 5px -4px 0;
    background-size: cover;
    display: inline-block;

}

#content .inputWrapper {

    overflow: auto;
    margin: 8px;

}

#content .inputWrapper input[type="text"] {

    width: 75%;
    float: left;
    border: 2px solid #e4e4e4;
    background: #fbfbfb;
    padding: 10px 7px;
    font-size: 17px;
    border-radius: 3px;
    transition: all 0.2s ease;

}

#content .inputWrapper input[type="text"]:focus {

    border: 2px solid #cecece;
    outline: none;

}

#content .inputWrapper input[type="button"] {

    min-width: 20%;
    width: 22%;
    float: right;
    padding: 13px 10px;
    background: #364684;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;

}

#content .inputWrapper input[type="button"]:hover {

    background: #28345f;

}

#content .itemWrapper {

    text-align: left;
    margin-top: 40px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #f2f2f2;
    background: #fff;

}

#content .itemWrapper ul {

    padding: 0;

}

#content .itemWrapper ul li {

    list-style: none;
    margin: 6px 0;
    font-size: 17px;
    background: #fcfcfc;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 13px;
    height: auto;
    max-height: 160px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;

}

#content .itemWrapper ul li.removed {

   max-height: 0;
   height: auto;
   visibility: hidden;
   opacity: 0;

}

#content .itemWrapper ul li .check {

    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 2px solid #364684;
    display: inline-block;
    margin-right: 15px;
    float: left;

}

#content .itemWrapper ul li .edit {

    position: absolute;
    right: 7px;
    transition: all 0.3s ease;

}

#content .itemWrapper ul li .edit:hover {

    color: #364684;
    color: #8097f0;
    color: #4e6bd9;

}

#content .itemWrapper ul li .actionArea {

    overflow: auto;
    display: block;
    opacity: 0;
    visibility: hidden;
    height: auto;
    max-height: 0;
    
    transition: all 0.3s ease;

}

#content .itemWrapper ul li.opened {

    margin: 14px 0;
    border: 1px solid #d8d8d8;

}

#content .itemWrapper ul li.opened .edit {

    color: #4e6bd9;

}

#content .itemWrapper ul li.opened .actionArea {

    padding-top: 25px;
    height: auto;
    max-height: 100px;
    opacity: 1;
    visibility: visible;

}


#content .itemWrapper ul li.favoriteItem {

    /* background: #305dff; */

}

body.dark #content .itemWrapper ul li.favoriteItem {

    background: #305dff;

}

/*
#content .itemWrapper ul li .handle:after {

    content: "";
    background: url(/img/handle2dark.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    display: block;

}

body.dark #content .itemWrapper ul li .handle:after {

    background: url(/img/handle2.svg);
    
}*/

#content .itemWrapper ul li a.textWrapper {

    display: inline-block;
    /* margin-bottom: 25px; */ 
    font-weight: 600;

}

#content .itemWrapper ul li a.textWrapper:before {

    content: "";
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-bottom: -6px;
    margin-right: 0px;
    background: url(../img/new/favorite2.svg) no-repeat;
    background-size: cover;
    transition: all 0.3s ease;

}


#content .itemWrapper ul li.favoriteItem a.textWrapper:before {

    margin-bottom: -6px;
    margin-right: 4px;
    width: 27px;
    height: 27px;
    opacity: 1;
    visibility: visible;

}

#content .itemWrapper ul li a.handle {

    background: #e8e8e8;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 5%;
    height: 37px;
    width: 37px;
    margin: 0 6px;
    text-align: center;
    float: right;
    background: url(../img/new/handle2.svg) no-repeat;
    background-size: cover;
    transition: all 0.2s ease;

}



#content .itemWrapper ul li a.button {

    background: #e8e8e8;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    /*width: 40%;*/
    height: 37px;
    width: 37px;
    float: right;
    margin: 0 6px;
    text-align: center;
    transition: all 0.2s ease;

}


#content .itemWrapper ul li a.button.favoriteButton {

    background: url(../img/new/favorite2.svg) no-repeat;
    background-size: cover;

}

#content .itemWrapper ul li a.button.delete {

    background: url(../img/new/close2.svg) no-repeat;
    background-size: cover;

}



/* #content .itemWrapper ul li a.button.delete:hover {

    background: #e62525;
    color: #fff;

}

#content .itemWrapper ul li a.button.favoriteButton:hover {

    background: #ffd920;

} */

.sortable-chosen {

    border: 1px solid #305dff !important;
    border: 1px solid #364684 !important;
    
    -webkit-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.11);
   /* transform: scale(1.1);*/

} 

.sortable-ghost li {

    width: 20%;

} 

footer {

    text-align: center;

}

/* USER INFORMATION */

.userInformation {

    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 20px;

}

.userInformation .profilePictureWrapper {

    height: 80px;
    width: 80px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    float: right;

}

.userInformation .profileText {

    display: block;
    float: left;
    line-height: 80px;
    margin: 0 15px 0 0;

}

.userInformation .profileText p {

    display: inline;

}

.userInformation img {

    max-width: 80px;

}