$accent-color: #346abc;
$accent-color-hover: #485c96;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    .light {
        background: #f2f9ff;
        background: #a6b2c740;
        min-width: 100vw;
        min-height: 100vh;
        padding-bottom: 20px;
        &#blue {
            background: #f2f9ff;
            background: #a6b2c740;
            .blue {
                border: 2px solid #8e8e8e;
            }
        }
        &#green {
            background: #f2fff4;
            .green {
                border: 2px solid #8e8e8e;
            }
        }
        &#pink {
            background: #fff2f5;
            .pink {
                border: 2px solid #8e8e8e;
            }
        }
    }
    .login, .register {
        text-align: center;
        background: #a6b2c740;
        min-height: 100vh;
        form {
            margin: 40px auto 50px auto!important;
            width: 600px;
            background: #fff;
            border-radius: 8px;
            padding: 10px!important;
            text-align: left;
            display: block;
            overflow: auto;
            input:not([type="checkbox"]) {
                padding: 9px;
                width: 100%;
                font-size: 16px;
                border: 1px solid #ececec;
                background: #fff;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,.07);
                background: #fff;
                border-radius: 8px;
                margin: 10px 0;
                transition: all .2s ease;
            }
            .dark-btn {
                display: inline-block;
                min-width: 20%;
                width: 230px;
                margin-top: 30px;
                padding: 9px 10px;
                background: $accent-color;
                color: #fff;
                border: none;
                border: 1px solid rgba(66,93,163,.39);
                font-weight: 700;
                font-size: 13px;
                text-align: center;
                float: right;
                cursor: pointer;
                text-transform: uppercase;
                box-shadow: 0 9px 20px -11px #2d67ce;
                border-radius: 8px;
                transition: all .3s ease;
            }
        }
        img.logo {
            max-width: 200px;
            margin: 20px auto;
        }
    }
    .wrapper {
        overflow: auto;
    }
    .modal {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        min-height: 300px;
        height: auto;
        margin: auto;
        background: #fff;
        border-radius: 8px;
        padding: 10px;
        z-index: 999;
        visibility: hidden !important;
        opacity: 0 !important;
        text-align: left;
        box-shadow: 0 0 15px 1000px rgba(0,0,0,.35);
        transition: all .3s ease;
        &.open {
            visibility: visible!important;
            opacity: 1!important;
            box-shadow: 0 0 15px 1000px rgba(0,0,0,.12);
        }
        .close {
            width: 28px;
            height: 28px;
            display: block;
            float: right;
            cursor: pointer;
        }
        .color {
            width: 25px;
            height: 25px;
            display: block;
            border-radius: 50%;
            background: rosybrown;
            margin: 0 7px 0 0;
            float: left;
            border: 2px solid #f2f2f2;
            cursor: pointer;
            &.blue {
                background: $accent-color;
            }
            &.green {
                background: #265f2b;
            }
            &.pink {
                background: #65293e;
            }
        }
    }
    header {
        img {
            display: block;
            max-width: 300px;
            &.logo {
                display: block;
                width: 230px;
                height: 47;
                padding: 20px;
            }
            &.settingsIcon {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 34px;
                height: 34px;
                cursor: pointer;
            }
            &.accountIcon {
                position: absolute;
                top: 21px;
                right: 75px;
                width: 34px;
                height: 34px;
                cursor: pointer;
            }
        }
        .accountModalWrapper {
            position: absolute;
            top: 0;
            right: 0;
            .accountModal {
                position: absolute;
                right: 65px;
                top: 65px;
                width: 330px;
                background: #fff;
                text-align: left;
                border-radius: 5px;
                padding: 10px 20px;
                box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.14);
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease;
                &.opened {
                    visibility: visible;
                    opacity: 1;
                }
                li {
                    list-style: none;
                    line-height: 190%;
                    a {
                        color: $accent-color;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        &:hover {
                            color: $accent-color-hover;
                        }
                    }
                }
            }
        }
    }
    .content {
        display: block;
        margin: 100px auto;
        width: 70%;
        max-width: 700px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.07);
        padding: 0 1px 30px 1px;
        border: 5px;
        .inputWrapper {
            overflow: auto;
            margin: 8px;
        }
        .itemForm {
            overflow: auto;
            input {
                width: 75%;
                float: left;
                border: 1px solid #e4e4e4;
                background: #fbfbfb;
                padding: 10px 7px;
                font-size: 17px;
                border-radius: 3px;
                transition: all 0.2s ease;
            }
            a#submit {
                min-width: 20%;
                width: 22%;
                float: right;
                padding: 13px 10px;
                background: $accent-color;
                color: #fff;
                border: none;
                font-weight: 700;
                text-align: center;
                font-size: 13px;
                text-transform: uppercase;
                border-radius: 3px;
                cursor: pointer;
                transition: all 0.3s ease;
                &:before {
                    content: "";
                    display: inline-block;
                    background: url(/img/plus.svg) no-repeat !important;
                    background-size: cover;
                    height: 15px;
                    width: 16px;
                    margin: 0 7px -2px 0;
                }
                &:hover {
                    background: $accent-color-hover;
                }
            }
        }
        .sections {
            overflow: auto;
            .section {
               
            }
            .sectionWrapper {
                background: #fff;
                display: inline-block;
                border: 1px solid #d3d3d3;
                border-radius: 25px;
                padding: 3px 20px 5px 20px;
                position: relative;
                cursor: pointer;
                margin: 6px 14px 0 0;
                &.current {
                    background: $accent-color;
                    color: #fff;
                }
                img.close {
                    width: 17px;
                    height: 17px;
                    margin-left: 10px;
                    margin-bottom: -2px;
                }
            }

        }
        
        .dynamicSection {
            text-align: left;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            background: #fff;
            padding: 20px 30px;
            top: 45%;
            left: 0;
            right: 0;
            z-index: 999;
            max-width: 800px;
            margin: auto;
            box-shadow: 0px 0px 15px 1000px rgba(0,0,0,0.12);
            border-radius: 5px;
            transition: all 0.3s ease;
            &.open {
                opacity: 1;
                visibility: visible;
            }
            input {
                width: 75%;
                float: left;
                border: 1px solid #e4e4e4;
                background: #fbfbfb;
                padding: 10px 7px;
                font-size: 17px;
                border-radius: 3px;
                transition: all 0.2s ease;
            }
            a {
                min-width: 20%;
                width: 22%;
                float: right;
                padding: 13px 10px;
                background: $accent-color;
                color: #fff;
                border: none;
                text-align: center;
                font-weight: 700;
                font-size: 13px;
                text-transform: uppercase;
                border-radius: 3px;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover {
                    background: $accent-color-hover; 
                }
            }
        }
        .todoItemWrapper {
            margin: 8px;
            padding: 20px 0;
            h2 {
                display: inline;
            }
            #addSections {
                float: right;
            }
            .sections {
                margin-top: 10px;
                margin-bottom: 30px;
            }
        }
        #addSections {
            text-align: left;
            display: inline-block;
            color: $accent-color;
            font-weight: 600;
            cursor: pointer;
            margin-bottom: 10px;
            transition: all 0.3s ease;
            &:hover {
                color: #28345f;
            }
            &:before {
                content: "";
                background: url(/img/plus-icon.svg) !important;
                background-size: cover;
                height: 15px;
                width: 16px;
                margin: 0 7px -2px 0;
                display: inline-block;
            }
        }
        
        .todoItem {
            list-style: none;
            margin: 6px 0;
            font-size: 17px;
            background: #fcfcfc;
            border: 1px solid #e8e8e8;
            border-radius: 5px;
            padding: 13px;
            height: auto;
            max-height: 160px;
            cursor: pointer;
            height: auto;
            max-height: 160px;
            position: relative;
            transition: all 0.3s ease;
            &.favorite {
                border: 1px solid #f3e7be;
                background: #fffad6;
            }
            &.done {
                opacity: 0.6;
                .done {
                    background: $accent-color;
                }
            }
            &.categoryModalOpen {
                .changeSection {
                    visibility: visible !important;
                    opacity: 1 !important;
                }
            }
            p.todoItemContent {
                display: inline-block;
                float: left;
                margin: 0;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 70%;
            }
            .edit {
                float: right;
            }
            .done {
                width: 23px;
                height: 23px;
                border-radius: 50%;
                border: 2px solid $accent-color;
                display: inline-block;
                margin-right: 15px;
                float: left;
            }
            .actionArea {
                text-align: right;
                overflow: auto;
                
                visibility: hidden;
                opacity: 0;
                height: auto;
                max-height: 0;
                transition: all 0.3s ease;
                a {
                    margin: 0 8px;
                    img {
                        width: 29px;
                        height: 29px;
                    }
                }
            }
            &.opened {
                .edit {
                    color: $accent-color;
                }
                .actionArea {
                    display: block;
                    visibility: visible;
                    height: auto;
                    max-height: 200px;
                    margin-top: 15px;
                    opacity: 1;
                    transition: all 0.3s ease;
                }
            }
        }
        .changeSection {
            .sectionWrapper {
                margin-top: 20px;
                span {
                    background: #fff;
                    display: inline-block;
                    border: 1px solid #d3d3d3;
                    border-radius: 25px;
                    padding: 3px 20px 5px 20px;
                    position: relative;
                    cursor: pointer;
                    margin: 6px 14px 0 0;
                    &.current {
                        background: $accent-color;
                        color: #fff;
                    }
                }
            }
        }
    }
    footer {
        text-align: center;
        a {
            line-height: 165%;
            text-decoration: none;
            color: #000;
            &.madeWithLove {
                opacity: 0.7;
                font-size: 14px;
                margin-top: 10px;
                display: inline-block;
            }
        }
    }
    .dark {
        background-color: #000 !important;
        color: #fff;
        min-width: 100vw;
        min-height: 100vh;
        .content {
            background: #202020;
        }
        .modal {
            background: #202020;
        }
        input#box {
            border: 1px solid #707070;
            background: #333333;
            color: #fff;
            transition: all 0.2s ease;
        }
        .todoItem {
            border: 1px solid #0b0b0b;
            background: #333333;
        }  
        footer {
            a {
                color: #ffffff;
            }
        } 
    }

    .flashMessage {
        padding: 10px 20px;
        border-radius: 8px;
        background: #fff6cc;
        margin-top: 30px;
        margin-bottom: -20px;
        border: 1px solid #ebcc66ba;
        display: inline-block;
    }
}

@media only screen and (max-width: 1080px) {

    body {

        .logo {
        
            display: block;
            width: 70%;
            max-width: 210px;
           
        }

        #settings {
        
            position: absolute;
            top: 20px;
            right: 20px;
            left: auto;
        
        }

        .modal {

            width: 100%;
            max-width: 100%;
            box-shadow: 0px 10px 3000px 2000px rgba(0,0,0,0.12);

        }

        .startModal {

            position: absolute;
            top: 100px;
            bottom: 100px;
            overflow: auto;

        }

        .startModal .feature {

            width: 50%;
        
        }

        .content {

            width: 100%;

        }

        .content .dynamicSection {

            padding: 20px 15px;

        }

        .content .itemWrapper {

            padding-left: 9px;
            padding-right: 9px;

        }

        .content .inputWrapper input[type="text"] {

            width: 100%;
            background: #f5f5f5;
            width: 86%;
            float: left;

        }

        .content .inputWrapper input[type="button"] {

            width: 100%;
            margin-top: 10px;
            padding: 8px;

        }

        .content .inputWrapper a#submit {

            width: 50px;
            max-width: 12%;
            min-width: 0;
            padding: 13px 0;
            font-size: 0;


        }

        .content .inputWrapper a#submit:before {
            
            margin: 0;
            height: 15px;
            width: 15px;
        }

        .content .dynamicSection input {

            width: 100%;

        }

        .content .dynamicSection a {

            width: 100%;
            display: block;
            margin-top: 10px;
            padding: 8px;

        }

        .todoItemWrapper h2 {
            display: block !important;
            margin-bottom: 0;
        }

        header .accountModalWrapper .accountModal {
            position: absolute;
            right: 0;
            margin: auto;
            top: 65px;
            height: auto;
            width: 100vw;
        }
        
        .content .removeSections {
        
            color: #e62525;
            font-weight: 600;
        
        }

        #addSections {
            float: none !important;
            margin-top: 10px;
        }
    }

    .login, .register {
        text-align: center;
        background: #a6b2c740;
        min-height: 100vh;
        padding-top: 20px;
        h1 {
            margin-top: 45px;
        }
        form {
            margin: 50px auto!important;
            width: 100% !important;
            input {
                transition: all .2s ease;
            }
            .dark-btn {
                transition: all .3s ease;
            }
        }
        img.logo {
            max-width: 170px !important;
            margin: 0px auto !important;
        }
    }

}
